h2.section-title
    span.iresume-qrcode #{" "}
    | #{data.about.title}
header
    h1
        span  #{data.person.firstName + ' ' + data.person.lastName}
    h2
        span.iresume-terminal
        span {#{data.person.jobTitle}}

    .quick-contact
        .quick-contact-mobile
            span.iresume-whatsapp
        .quick-contact-email
            span.iresume-google3
        - var today = new Date().toLocaleDateString('en-GB', {day : 'numeric', month : 'long', year : 'numeric'}).split(' ').join(' ');
        .quick-contact-note {last updated: #{today}}
p.section-description #{data.about.description}
