h2.section-title #{data.awards.title}
.awards
for award in data.awards.awards
    .award
        .award-title #{award.awardTitle}
        .award-description #{award.awardDescription}
        .award-place-and-time
            .award-location #{award.awardLocation}
            .award-date #{award.awardDate}
