h2.section-title
    span.iresume-user-tie #{" "}
    | Employment
// .employments>.employment*8>.employment-date+.employment-job-title+.employment-company+.employment-summary>p>lipsum7^a[href="#"][title="read more"].employment-read-more{read more}
.employments
for employment, key in data.employment
    .employment
        .employment-title-and-time
            .employment-job-title #{employment.employmentJobTitle}
            .employment-date #{employment.employmentDate}
        .employment-company #{employment.employmentCompany}
        .employment-summary #{employment.employmentSummary}
        ul.employment-duties
        for duty in employment.employmentDuties
            li #{duty}


