h2.section-title
    span.iresume-wrench #{" "}
    | Skills
for title, titleKey in data.skills
    h3 #{titleKey}
    ul.skills #{" "}
        for skill, index in title
            li.skill !{skill} #{" "}
